.section {
  margin: 50px 155px;  
  background: #fff;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header h2 {
 font-size: 18px;
  font-weight: 600;
}

.header span {
   font-size: 14px;
  font-weight: 400;
  color: #777;
  cursor: pointer;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

/* Card */
.card {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 14px;
  text-align: center;
  cursor: pointer;
  height: 200px;
}

/* Video placeholder */
.videoBox {
  height: 155px;
  background: #d6d6d6;
  margin-bottom: 12px;
}

/* Text */
.card p {
    margin: 2px;
  font-size: 14px;
  font-weight: 500;
}

/* Hover */
.card:hover {
  background: #f5f5f5;
}

/* Responsive */
@media (max-width: 1024px) {
  .section {
    margin: 50px 40px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .section {
    margin: 40px 20px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}
/* Desktop */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

/* Tablet */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
