* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 40px;
  border-bottom: 1px solid #ddd;
}
.logoimg {
  border-radius: 50%;
  width: 50px;
}
.navbar nav a {
  margin: 0 12px;
  cursor: pointer;
}
.navbar .active {
  font-weight: bold;
}



.section {
  padding: 40px;
}
.section-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.header h3 {
  font-size: 18px;
  font-weight: 600;
}

.header span {
  font-size: 14px;
  color: #777;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}
.card.dark {
  background: #eee;
}

.img {
  background: #ccc;
  height: 80px;
  margin-bottom: 10px;
}
.img.large {
  height: 120px;
}

.highlight {
  display: flex;
  gap: 30px;
  padding: 40px;
  background: #f3f3f3;
}

.reviews {
  padding: 40px;
  text-align: center;
}
.review-box {
  border: 1px solid #ddd;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px;
  background: #f5f5f5;
}

.btn {
  padding: 8px 16px;
  background: #aaa;
  border: none;
}
.link {
  background: none;
  border: none;
  cursor: pointer;
}

.link.active {
  font-weight: 600;
}

.link.active::after {
  width: 100%;
}
/* Responsive */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .highlight {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .navbar {
    flex-direction: column;
    gap: 10px;
  }
}
.appContainer {
  margin-left: 160px;
  margin-right: 160px;
}

/* Tablet */
@media (max-width: 1024px) {
  .appContainer {
    margin-left: 60px;
    margin-right: 60px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .appContainer {
    margin-left: 20px;
    margin-right: 20px;
  }
}
